<div>
  <h6>REGIATRE</h6>
  <input type="text" [(ngModel)]="register.username" placeholder="Username"><br>
  <input type="text" [(ngModel)]="register.email"  placeholder="email"><br>
  <input type="password" [(ngModel)]="register.password"  placeholder="Password">
  <button (click)="registra()">Registra't</button>
  <button (click)="log()">Entra!</button>
</div>
<footer class="colorback col-12">
  <div class="foter row">
    <div class="politica col-4">
      <a>Politica de Privacitat</a>
    </div>
    <div class="socialajunta col-4 row">
      <div class="social col-6">
        <img class="ico" src="../assets/instagram.png">
      </div>
      <div class="social col-6">
          <img class="ico" src="../assets/facebook.png">
      </div>
    </div>
    <div class="contacte col-4"></div>
  </div>
</footer>
