<div class="general">
  <div class="miniatures row">
    <div class="col-12 col-sm-4 col-md-3" *ngFor="let r of rutas">
      <div class="card">
        <h5 class="card-title">{{r.nomruta}}</h5>
          <a href="" data-toggle="modal" data-target="#modal"
             (click)="nom = r.nomruta; desc = r.descripcio; dis = r.distanciakm; dif = r.dificultat;">

            </a>
          <div class="card-body">
            <p>Mapa</p>
            <div *ngIf="r.id===1" style="height: 40vh; width: 40vh;"
                leaflet
              [leafletOptions]="options"
              (leafletMapReady)="onMapReady($event)">
            </div>
            <div *ngIf="r.id===4" style="height: 40vh; width: 40vh;"
                leaflet
              [leafletOptions]="options2"
              (leafletMapReady)="onMap($event)">
            </div>

        </div>
      </div>
      <div class="modal"  id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{nom}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{desc}}</p>
              <p>Dificultat : {{dif}}</p>
              <p>Distancia en Kilometres : {{dis}}km</p>

            <div class="modal-footer">

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
